<!DOCTYPE html>
<html lang="ko">
  <head> </head>
  <body>
    <% 
    function snakeToCamel(snakeword) {
      let camelword = snakeword
        .toLowerCase()
        .replace(/_[a-z]/g, (str) => str[1].toUpperCase());

      return camelword;
    }
    %>
    
    <% 
    function dataTypeToClass(dataType) {
      if(dataType == 'int' || dataType == 'tinyint'){
        return 'Integer';
      }
      else if(dataType == 'varchar'){
        return 'String';
      }
      else if(dataType == 'datetime' || dataType == 'timestamp' || dataType == 'date') {
        return 'LocalDateTime';
      }
      else if(dataType == 'bigint') {
        return 'long';
      }
      else if(dataType == 'decimal') {
        return 'BigDecimal';
      }
      else {
        return "ERROR-" + dataType;
      }
    }
    %>
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div style="background-color: black; color: white">Entity</div>
    <div>

import javax.persistence.*;<br>
import javax.validation.constraints.NotNull;<br><br>


      @Getter <br>
      @Setter <br>
      @Entity <br>
      @Builder <br>
      @Table(name = "<%=table_name.toUpperCase()%>") <br>
      @AllArgsConstructor <br>
      @NoArgsConstructor <br>
      public class <%=snakeToCamel(table_name.toUpperCase()).substr(1)%> {  <br>
        <% for ( var i = 0; i < data.length; i++){ %> 
        <%if (data[i].COLUMN_KEY == 'PRI'){%> &nbsp;&nbsp;&nbsp;@Id <br> <%}%>
        <%if (data[i].EXTRA == 'auto_increment'){%> &nbsp;&nbsp;&nbsp;@GeneratedValue(strategy = GenerationType.IDENTITY) <br> <%}%>
        &nbsp;&nbsp; @Column<br>
        <%if (data[i].DATA_TYPE == 'tinyint'){%> (columnDefinition = "BIT", length = 1) <br> <%}%>
        &nbsp;&nbsp;<%if (data[i].IS_NULLABLE == 'NO'){%> @NotNull<br> <%}%>
        &nbsp;&nbsp; private <%=dataTypeToClass(data[i].DATA_TYPE)%> <%=snakeToCamel(data[i].COLUMN_NAME)%>; // <%=data[i].COLUMN_COMMENT%>  <br><br>
        <% }%>}  <br>
        </div>
    
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div style="background-color: black; color: white">DTO</div>
    <textarea style="height: 500px; width: 500px">
      @Data
      public class <%=snakeToCamel(table_name.toUpperCase()).substr(1) + 'DTO'%> {
        <% for ( var i = 0; i < data.length; i++){ %> private <%=dataTypeToClass(data[i].DATA_TYPE)%> <%=snakeToCamel(data[i].COLUMN_NAME)%>; // <%=data[i].COLUMN_COMMENT%>
        <% }%>}
    </textarea>

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div style="background-color: black; color: white">Select</div>
    <textarea style="height: 500px; width: 500px">
      <select id="select_<%=snakeToCamel(table_name)%>" resultType="OOO_DTO">
        SELECT <% for ( var i = 0; i < data.length; i++){ %>
          <%=data[i].COLUMN_NAME%> <% if(i != data.length - 1){%>,<%}%><% }%>
        FROM <%=table_name%>
      </select>
    </textarea>

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div style="background-color: black; color: white">Insert</div>
    <textarea style="height: 500px; width: 500px">
      <insert id="insert_<%=snakeToCamel(table_name)%>" parameterType="Hashmap">
        INSERT INTO <%=table_name%> (
        <trim suffixOverrides="," ><% for ( var i = 0; i < data.length; i++){ %><% if(data[i].IS_NULLABLE == 'YES'){%><if test='<%=snakeToCamel(data[i].COLUMN_NAME)%> != null and !<%=snakeToCamel(data[i].COLUMN_NAME)%>.equals("")'><%}%>
            <%=data[i].COLUMN_NAME%>,
          <% if(data[i].IS_NULLABLE == 'YES'){%></if><%}%>
          <% }%></trim>
        ) VALUES (
        <trim suffixOverrides=","><% for ( var i = 0; i < data.length; i++){ %><% if(data[i].IS_NULLABLE == 'YES'){%><if test='<%=snakeToCamel(data[i].COLUMN_NAME)%> != null and !<%=snakeToCamel(data[i].COLUMN_NAME)%>.equals("")'><%}%>
            #{<%=snakeToCamel(data[i].COLUMN_NAME)%>},
          <% if(data[i].IS_NULLABLE == 'YES'){%></if><%}%>
          <% }%></trim>
        )
      </insert>
    </textarea>
      
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <div style="background-color: black; color: white">Update</div>
    <textarea style="height: 500px; width: 500px">
      <update id="update_<%=snakeToCamel(table_name)%>" parmeterType="Hashmap">
        UPDATE <%=table_name%> SET
        <trim suffixOverrides=","><% for ( var i = 0; i < data.length; i++){ %>
         <% if(data[i].IS_NULLABLE == 'YES'){%> <if test='<%=snakeToCamel(data[i].COLUMN_NAME)%> != null and !<%=snakeToCamel(data[i].COLUMN_NAME)%>.equals("")'><%}%>
            <%=data[i].COLUMN_NAME%> = #{<%=snakeToCamel(data[i].COLUMN_NAME)%>},
         <% if(data[i].IS_NULLABLE == 'YES'){%> </if><%}%><% }%>
        </trim>
        WHERE <%=data[0].COLUMN_NAME%> = #{<%=snakeToCamel(data[0].COLUMN_NAME)%>}
      </update>
    </textarea>

  </body>
</html>
